<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

    <meta charset="utf-8" />
    <style>
        @font-face {
            font-family: "tesla";
            src: url("/font/TESLA.ttf");
        }
        html{
            width: 100%;

            background-color: black;
            background-repeat: no-repeat;
            background-attachment: fixed;s
        }
        body {

            width: 100%;

            margin:  0;
            background-image: url("/image/logo.png");
            background-repeat: no-repeat;
            background-position: center left;
            background-size:contain;
            background-attachment: fixed;

        }
        #main{
            margin: 0 auto;
            width:  70%;
            height: 100%;

        }
        a { text-decoration:none }
    </style>


</head>
<body>

<div id="top" style="width: 100%;" >

    <div style="position: fixed; right: 20px; top:20px;">
        <a style="color: white;font-family: 'tesla'; font-size: 3vmin" href="/notice">
            HOME
        </a>
        <a style="color: white;font-family: 'tesla'; font-size: 3vmin" href="/notice">
            공지사항
        </a>
        <a th:if="${userName == null}" >
            <a style="color: white; font-size: 3vmin; margin-right: 20px" href="/oauth2/authorization/google" > LOGIN</a>
        </a>
        <a th:if="${userName != null}" >
            <a style="color: white" th:text="${userName}+'님 반갑습니다'"> </a>
            <a style="color: white;  font-size: 3vmin" href="/logout"> LOGOUT </a>
        </a>
    </div>
</div>




<div id="main">
    <div style="width:100%; height: 40%; text-align:center; margin: 0 auto;" >
        <img id="imageAddress" src="" alt="TSLA" width="60%" height="100%"/><br>
        <sub id="imageSource" style="color: gray"> </sub>
    </div>
    </br>
    </br>

    <div id="stockInfo" align="center" style="font-family: 'tesla'; width:70vmin; height: 30vmin; margin: 0 auto; border: 5px solid red; background-color: black" >
        <span style="color: red; font-size: 7vmin; font-weight: bold; background-color: black">TESLA</span></br>

        <span style="color: white; font-size: 4vmin; background-color: black">PRICE :  <a style="font-family: Arial"><b id="price"></b></a></span></br>
        <span style="color: white; font-size: 4vmin; background-color: black">CHANGE : <a style="font-family: Arial"><b id="change"></b> ( <b id="percent"></b> )</a> </span>

    </div>
    </br>
    <div style="width:70vmin; color: white; margin: 0 auto; border: 2px solid red; background-color: black; font-size: 1vmin" >
        <div id="submit_comment" align="center">
            <textarea id="new_comment" name="new_comment" rows="3" style="width: 80%"></textarea></br>

        </div>
        <div align="right" th:if="${userName != null}">
            <button type="submit" style="margin-right: 10%" onclick="addComment()">Submit</button>
        </div>
        <div align="right" th:if="${userName == null}">
            <button type="submit" style="margin-right: 10%"  onclick="">로그인 필요</button>
        </div>

        <div id="comments">
        </div>
    </div>
</div>

</body>
</html>

<script>
    var price;
    var change;
    var percent;

    function addComment() {
        var data ={
            contents:$("#new_comment").val()
        }
        $.ajax({
            type: 'POST',
            url: '/comment',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success : function (result) {

                alert("댓글 작성완료");
                $("#new_comment").val('');
                getComments();
            }
        })
    }

    function  getComments(){
        $.ajax({
            type: 'GET',
            url: '/comment',
            success: function (result) {
                var html="";

                for( index in result){
                    var username=result[index].username;
                    var newName="";
                    for(var i =0; i<username.length; i++){
                        if(i%2==1)
                            newName=newName+"*";
                        else
                            newName=newName+username.charAt(i);
                    }


                    html += '<div id="comment'+result[index].id+'">';
                    html += '<div style="'+'font-size: 2vmin; margin-left: 10%">'+result[index].contents+'</div>';
                    html += '<div style="'+'text-align: right; margin-right: 10%">'+result[index].username+'</div>';
                    html += '<div style="'+'text-align: right; margin-right: 10%">'+result[index].created_time+'</div>';
                    html += '</div></br>';
                }
                $("#comments").empty();
                $("#comments").append(html);
            }
        })
    }


    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/stock',
            success: function (result) {

                price=result.price;
                change=result.change;
                percent=result.percent;
                var color="red";
                if(change>0)
                    color="green";

                $("#price").html(price+"$");
                $("#change").css("color",color).html(change+"$");
                $("#percent").css("color",color).html(percent+"%");
            }
        })
        $.ajax({
            type: 'GET',
            url: '/images',
            success: function (result) {
                $("#imageAddress").attr("src",result);
                $("#imageSource").html("출처"+result);
            }
        })
        getComments();
        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: '/stock',
                success: function (result) {

                    price=result.price;
                    change=result.change;
                    percent=result.percent;
                    var color="red";
                    if(change>0)
                        color="green";

                    $("#price").html(price+"$");
                    $("#change").css("color",color).html(change+"$");
                    $("#percent").css("color",color).html(percent+"%");
                }
            })
        }, 5000);
        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: '/images',
                success: function (result) {
                    $("#imageAddress").attr("src",result);
                    $("#imageSource").html("출처: "+result);
                }
            })
        }, 10000);
    });
</script>